h1{
    color: red;
    text-align: center;
}
div{
    width: 70%;
    margin: auto;
}
img{
    width: 100%;
}
p{
    color: black;
    font-size: 12px;
}

body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
h2{
    color: aquamarine;
    font-size: 12px;

}
